{% trans_default_domain 'FOSUserBundle' %}

<form class="login-form" action="{{ path("fos_user_security_check") }}" method="post">
    <h3 class="form-title font-green">
        {#<img src="{{ asset('assets/images/basb_logo_medium.jpg') }}"> <br>#}

    </h3>
    {% if error %}
        <div class="alert alert-danger display-hide" style="display: block;">
            <button class="close" data-close="alert"></button>
            <span> {{ error.messageKey|trans(error.messageData, 'security') }}</span>
        </div>
    {% endif %}
    <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        <span> Enter any username and password. </span>
    </div>
    <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9">{{ 'security.login.username'|trans }}</label>
        <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="_username" required="required" /> </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">{{ 'security.login.password'|trans }}</label>
        <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="_password" required="required" /> </div>
    <div class="form-actions">
        <input type="submit" class="btn green uppercase" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}">
        <label class="rememberme check mt-checkbox mt-checkbox-outline">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />{{ 'security.login.remember_me'|trans }}
            <span></span>
        </label>
        <a href="{{ path('fos_user_resetting_request') }}" id="forget-password" class="forget-password">Forgot Password?</a>
    </div>

    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

</form>