{% extends "@App/base.html.twig" %}

{% block title %}{{ 'Users'|trans }} | {{ parent() }}{% endblock %}
{% block pageTitle %}<h1>{{ 'Users'|trans }}</h1>{% endblock %}

{% form_theme form '@User/_form_template/bootstrap_3_horizontal_layout_user.html.twig' %}

{% block body %}
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row" id="volume-list-page">
        <div class="col-sm-12">
            {% include '@App/layout-component/flash.html.twig' %}
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject theme-font bold uppercase">{{ mode == 'create' ? 'Create'|trans : 'Update'|trans }} {{ 'User'|trans }}</span>
                    </div>
                    <div class="actions">
                        <a href="{{ path('users_home') }}" class="btn green">
                            <i class="fa fa-plus"></i> {{ 'Back To The List'|trans }}</a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class='table-data'>
                        {% include "@User/User/new_content.html.twig" %}
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- END PAGE CONTENT INNER -->
{% endblock %}

{% block include_javascripts %}
    {{ parent() }}
    {#{{ include('@FpJsFormValidator/javascripts.html.twig') }}#}

    <script>
        var userGroup = $('#user_form_groups');
        userGroup.multiSelect({
            afterSelect: function(val){
                userGroup.multiSelect('deselect_all');
                userGroup.find('option[value='+val[0]+']').prop('selected', true);
                userGroup.multiSelect('refresh');
            }
        });
    </script>
{% endblock include_javascripts %}