{% extends "@App/base.html.twig" %}

{% block title %}{{ parent() }} | Inventory{% endblock %}
{% block pageTitle %}<h1>Inventory</h1>{% endblock %}
{% block header_title %}Inventory{% endblock header_title %}

{% block body %}
    {% trans_default_domain 'SgDatatablesBundle' %}
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row" id="volume-list-page">
        <div class="col-sm-12">
            {% include '@App/layout-component/flash.html.twig' %}
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject theme-font bold uppercase">{{ 'List of Inventory'|trans }}</span>
                    </div>
                    <div class="actions">
                        <a href="{{ path('inventory_sync_home') }}" class="btn green">
                            <i class="fa fa-plus"></i> {{ 'Inventory Sync'|trans }}</a>
                    </div>
                </div>
                <div class="portlet-body">
                    {{ sg_datatables_render_html(datatable) }}
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="ajaxAssignRoleNewUser" role="basic" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="{{ asset('assets/layouts/layout/img/loading-spinner-grey.gif') }}" alt="" class="loading">
                    <span> &nbsp;&nbsp;Loading... </span>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT INNER -->
{% endblock %}

{% block stylesheets  %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css') }}">
{% endblock %}

{% block include_javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/datatable.js') }}"></script>

    {{ sg_datatables_render_js(datatable) }}
{% endblock %}
